/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@font-face {
	font-family: "joystix monospace";
	src: url("/Assets/joystix_8bit_mono/joystix\ monospace.otf")
		format("opentype");
}

/* Reset some default styles */
body,
ul {
	margin: 0;
	padding: 0;
}

.background-container {
	background-image: url(/Assets/bg/8bit_lightning_bg.gif);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #202020;
}

.container {
	display: flex;
	flex-direction: column;
	/* gap: 24px; */
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #202020;
	font-family: "Press Start 2P", sans-serif;
	max-width: 1000px;
	background-color: transparent;
	margin: 0 auto;
	padding: 20px;
}

/* Style the title */
.heading {
	max-width: 900px;
	margin: 20px auto;
	padding: 0 50px 0 50px;
	text-align: center;
}

.heading h1 {
	font-size: 3.5rem;
	text-align: center;
	line-height: 5rem;
	/* padding: 20px 0; */
	margin: 0;
	color: #eee;
	text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
	/* letter-spacing: 0.1em; */
	animation-duration: 0.01s;
	animation-name: textflicker;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.heading h2 {
	font-size: 2rem;
	border-bottom: 3px solid #eee;
	color: #eee;
	padding-bottom: 2rem;
}

/* Style the game screen */
.game-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background-color: rgba(32, 32, 32, 0.271); */

	min-width: 500px;
	/* border: 2px solid #eee; */
	/* width: 500px; */
	/* margin-top: 40px; */
	color: #eee;
	text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
	letter-spacing: 0.125em;
	animation-duration: 0.01s;
	animation-name: textflicker;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* Style the menu */
.menu {
	list-style: none;
	padding: 0;
	margin-top: 20px; /* Add margin above the menu */
	display: flex; /* Use flexbox to center menu items */
	flex-direction: column; /* Arrange menu items vertically */
	align-items: center; /* Center menu items horizontally */
	gap: 1rem;
}

.menu-item:first-child {
	padding-top: 0;
}
.menu-item {
	font-size: 1.3rem;
	padding: 12px 24px 12px 4px;
	text-align: center;
	/* border-bottom: 1px solid #fff; */
	margin: 0; /* Remove the default margin */
	position: relative; /* Add relative positioning for arrow placement */
	cursor: pointer; /* Change cursor to pointer to indicate interactivity */
	transition: background-color 0.3s; /* Add a smooth transition effect for background color change */
	display: flex; /* Use flexbox for vertical centering */
	align-items: center; /* Center items vertically */
}

.menu-link:link,
.menu-link:visited {
	text-decoration: none;
	color: #eee;
}

/* Arrow indicator */
.menu-item:hover::before {
	content: ">";
	margin-right: 10px; /* Add right margin for spacing */
	opacity: 0; /* Initially hide the arrow */
	transition: opacity 0.3s, transform 0.3s; /* Add transitions for opacity and transform */
	transform: translateX(
		-10px
	); /* Move the arrow to the left of the menu item by default */
	animation: flicker 0.4s infinite; /* Apply the flickering animation */
}

/* Define the flickering animation */
@keyframes flicker {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes textflicker {
	from {
		text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
	}
	to {
		text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
	}
}
